<!-- Navbar Start -->
<div class="container-fluid p-0">
  <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0 px-lg-5">


    <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse">
      <div class="navbar-nav m-auto py-0">
        <a href="../crearempleadoform" class="nav-item nav-link active">Crear empleado</a>
        <a href="../creartecnicoform" class="nav-item nav-link">Crear tecnico</a>
        <a href="../listar_personasadmin" class="nav-item nav-link">CRUD cuentas</a>

      </div>

    </div>
  </nav>
</div>
<!-- Navbar End -->

{% block navbar4 %}

{% endblock %}