<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>"Librería imagina"</title>
  <!--foto pequeña de flores ,de la parte superior -->
  <link rel="shortcut icon" href="../static/app/img/faviconnew.png " type="image/x-icon" />
  <!--foto pequeña de flores ,de la parte superior -->
  <!--Boostrap 5.1.3-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.4.8/sweetalert2.min.js"
    integrity="sha512-7x7HoEikRZhV0FAORWP+hrUzl75JW/uLHBbg2kHnPdFmScpIeHY0ieUVSacjusrKrlA/RsA2tDOBvisFmKc3xw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.4.8/sweetalert2.css"
    integrity="sha512-40/Lc5CTd+76RzYwpttkBAJU68jKKQy4mnPI52KKOHwRBsGcvQct9cIqpWT/XGLSsQFAcuty1fIuNgqRoZTiGQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

  <!-- Libraries Stylesheet -->
  <link href="../static/app/lib/animate/animate.min.css" rel="stylesheet">
  <link href="../static/app/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../static/app/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

  <!-- Customized Bootstrap Stylesheet -->
  <link href="../static/app/css/style.css" rel="stylesheet">


</head>

<body>
  <!-- Topbar Start -->
  <div class="container-fluid bg-white d-none d-lg-block">
    <div class="row py-2 px-lg-5">
      <div class="col-lg-6 text-left mb-2 mb-lg-0">
        <div class="d-inline-flex align-items-center">
          <small><i class="fa fa-phone-alt mr-2"></i>02229272672</small>
          <small class="px-3">|</small>
          <small><i class="fa fa-envelope mr-2"></i>LibImagina@gmail.com</small>
        </div>
      </div>
      <div class="col-lg-6 text-right">
        <div class="d-inline-flex align-items-center">
          <a class="text-dark px-2" href="">
            <i class="fab fa-facebook-f ">Facebook</i>
          </a>
          <a class="text-dark px-2" href="">
            <i class="fab fa-instagram">Instagram</i>
          </a>

        </div>
      </div>
    </div>
  </div>
  <!-- Topbar End -->
  {% block contenido %}



  {% endblock %}


  <div class="container-fluid bg-dark text-light border-top py-4"
    style="border-color: rgba(256, 256, 256, .15) !important;">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
          <p class="m-0 text-white">&copy; <a href="#">LibreríaImagina@hotmail.com</a>.Todos los derechos reservados.
          </p>
        </div>
        <div class="col-md-6 text-center text-md-right">
          <p class="m-0 text-white">Diseñado por <a href="">Orlando Echeverría Hernández</a></p>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer End -->
  <!-- Back to Top -->
  <a href="#" class="btn btn-lg btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
  <!--Parte final de la pagina el footer-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- JavaScript Libraries -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  <script src="../static/app/lib/easing/easing.min.js"></script>
  <script src="../static/app/lib/waypoints/waypoints.min.js"></script>
  <script src="../static/app/lib/counterup/counterup.min.js"></script>
  <script src="../static/app/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="../static/app/lib/tempusdominus/js/moment.min.js"></script>
  <script src="../static/app/lib/tempusdominus/js/moment-timezone.min.js"></script>
  <script src="../static/app/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

  <!-- Contact Javascript File -->
  <script src="../static/app/mail/jqBootstrapValidation.min.js"></script>
  <script src="../static/app/mail/contact.js"></script>

  <!-- Template Javascript -->
  <script src="../static/app/js/main.js"></script>
</body>

</html>