<header class="header" id="header">
  <nav class="navbar navbar-expand-sm bg-info navbar-light">
    <div class="container-fluid">
      <img
        src="../static/app/img/libro.png "
        alt=""
        style="width: 50px; border-radius: 50%"
      />
      <!--border-raduis le da forma circular al icono -->

      <!--AQUI SE ENCUENTRA EL BOTON QUE SE DESPLIEGA HACIA ABAJO EN EL NAVBAR CON SU RESPECTVIOS LINKS-->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapsibleNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="../servicioform">Solicitiar Servicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../listar_servicio">Ver solicitudes de servicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../cotizacionesform">Solicitar cotizacion</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="../lista_libros">¡ Ir a la tienda !</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="../ver_carrito">Ver mi carrito </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../starken_api">Seguimiento de productos </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
{% block navbar %} 

{% endblock %}
