<!-- Navbar Start -->
<div class="container-fluid p-0">
  <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0 px-lg-5">


    <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse">
      <div class="navbar-nav m-auto py-0">
        <a href="../listar_cotizaciones" class="nav-item nav-link active">Ver solicitudes de cotizaciones</a>
        <a href="../listar_personas" class="nav-item nav-link">Gestión de cuentas</a>
        <a href="../https://accounts.google.com/signin/chrome/sync/identifier?ssp=1&continue=https%3A%2F%2Fwww.google.com%2F&flowName=GlifDesktopChromeSync"
          class="nav-item nav-link">Cotizaciones por correo</a>
        <a href="../libros_api" class="nav-item nav-link">Proveedor alphilia libros</a>


      </div>

    </div>
  </nav>
</div>
<!-- Navbar End -->
{% block navbar2 %}

{% endblock %}