<!-- Navbar Start -->
<div class="container-fluid p-0">
  <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0 px-lg-5">


    <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse">
      <div class="navbar-nav m-auto py-0">
        <a href="../servicioform" class="nav-item nav-link active">Solicitiar Servicio</a>
        <a href="../listar_servicio" class="nav-item nav-link">Ver solicitudes de servicio</a>
        <a href="../cotizacionesform" class="nav-item nav-link">Solicitar cotización</a>
        <a href="../lista_libros" class="nav-item nav-link">¡Ir a la tienda!</a>
        <a href="../ver_carrito" class="nav-item nav-link">Ver mi carrito</a>
        <a href="../starken_api" class="nav-item nav-link">Seguimiento de productos</a>

      </div>

    </div>
  </nav>
</div>
<!-- Navbar End -->

{% block navbar %}

{% endblock %}