{% extends 'app/basepypal.html' %} {% block contenido %}
<div class="main container-fluid d-flex justify-content-center mb-4">
  <h1>Paga con PayPal rápido y seguro </h1>


</div>

<div class="main d-flex justify-content-center">

  <div id="paypal-button-container"></div>
  <script src="https://www.paypal.com/sdk/js?client-id=TU_ID_CLIENTE_PAYPAL
  "></script>


  <div id="paypal-button-container"></div>
  <script>
    paypal.Buttons({
      createOrder: function (data, actions) {
        return actions.order.create({
          purchase_units: [{
            amount: {
              value: '10.00'
            }
          }]
        });
      },
      onApprove: function (data, actions) {
        return actions.order.capture().then(function (details) {
          alert('Transaction completed by ' + details.payer.name.given_name + '!');
          window.location.href = 'http://localhost:8000/comprafinalizada/';
          // Realizar solicitud al servidor para ejecutar la función
          fetch('/realizar_comprastarken/', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': '{{ csrf_token }}'  // Obtener el valor del token CSRF en Django
            },
            body: JSON.stringify(details)  // Puedes enviar los detalles de PayPal si son necesarios
          })
            .then(function (response) {
              return response.json();
            })
            .then(function (data) {
              // Aquí puedes manejar la respuesta del servidor
              console.log(data.message);
            });

        });

      }
    }).render('#paypal-button-container');
  </script>

</div>
<ul class="nav d-flex justify-content-center">
  <li class="nav-item d-flex justify-content-center">
    <a class="nav-link text-dark" href="../ver_carrito" data-bs-toggle="tooltip"
      title="¡AQUÍ PUEDES VOLVER A TU CARRITO!">Volver
      al carrito</a>
  </li>
</ul>

{% endblock %}