{% extends 'app/base.html' %} {% block contenido %}
{% block navbar %}
  {% include 'app/basecliente.html' %}
{% endblock %}
<section class="thumbnail 1" id="thumbnail 1">
  <div class="Thumbnail py-2 bg-light">
    <!--CONTENEDOR PLOMO QUE ENCIERRA LOS CONTAINER-->

    <div class="container-fluid">
      <!-- CONTENEDOR-fluid para que el contenedor ocupe los 12 espacios que nos ofrece boostrap  -->

      <div class="row">
        <!--comando aling aliniea los 3 itemps-->
        <!--IMAGEN DE LA IZQUIERDA-->
        <div class="col-sm-10">
          <table class="table table-condensed table-striped">
            <thead>
              <tr class="table-success">
                <th>FOTO</th>
                <th>RUT</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Dirección</th>
                <th>Celular</th>
                <th>E-mail</th>
              </tr>
            </thead>
            <tbody>
              {% for aux in listaCliente %}

              <tr>
                <td>
                  {% if aux.imagen %}
                  <img src=" aux.imagen.url " width="80%" />
                  {% else %}
                  <img
                    src="../static/app/img/equipo.png"
                    class="img-fluid item-img w-50 mb-3"
                  />
                  {% endif %}
                </td>

                <td>{{aux.rut_cliente}}</td>
                <td>{{aux.nombre}}</td>
                <td>{{aux.apellido}}</td>
                <td>{{aux.direccion}}</td>
                <td>{{aux.telefono}}</td>
                <td>
                  {{aux.correo}}
                  <div class="d-flex" id="modifi">
                    <a
                      href="{% url 'modificliente' aux.id %}"
                      class="btn btn-info btn-sm"
                      data-bs-toggle="tooltip"
                      title="¡AQUÍ PUEDES MODIFICAR LOS DATOS!"
                      >Modificar datos</a
                    >
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="col-sm-8 d-flex justify-content-center">
          <table class="table">
            <tbody>
              <tr>
                <td>
                  {% if cantidad_clientes > 0 %}
                  <a
                    href="#"
                    class="btn btn-success bg-success disabled"
                    data-bs-toggle="tooltip"
                    title="Ya has agregado tus datos"
                    >Ya has agregado tus datos</a
                  >
                  {% else %}
                  <a
                    href="{% url 'clienteform' %}"
                    class="btn btn-success bg-success"
                    data-bs-toggle="tooltip"
                    title="Agrega tus datos"
                    >Agrega tus datos</a
                  >
                  {% endif %} >
                </td>
                <td>
                  <a
                    href="{% url 'logout' %}"
                    class="btn btn-danger bg-danger"
                    data-bs-toggle="tooltip"
                    title="¡AQUÍ PUEDES CERRAR SESIÓN!"
                    >Cerrar sesión</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
