{% load static %}
<h1>Lista de libros</h1>
{% for libro in libros %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ libro.nombre }}</h5>

    <p class="card-text"><strong>Precio: ${{ libro.precio }}</strong></p>
    <form method="POST" action="{% url 'agregar_al_carrito' %}">
      {% csrf_token %}
      <input type="hidden" name="libro_id" value="{{ libro.id }}" />
      <label for="cantidad">Cantidad:</label>
      <input type="number" id="cantidad" name="cantidad" value="{{
      carrito.cantidad|default_if_none:"1" }}" min="1" />

      <button type="submit" class="btn btn-primary">Agregar al carrito</button>
    </form>
  </div>
</div>
{% endfor %}
