{% extends 'app/base.html' %} {% block contenido %}
{% block navbar %}
  {% include 'app/basempleado.html' %}
{% endblock %}
<section class="thumbnail 1" id="thumbnail 1">
  <div class="Thumbnail py-2 bg-light">
    <!--CONTENEDOR PLOMO QUE ENCIERRA LOS CONTAINER-->

    <div class="container-fluid">
      <!-- CONTENEDOR-fluid para que el contenedor ocupe los 12 espacios que nos ofrece boostrap  -->

      <div class="row">
        <!--comando aling aliniea los 3 itemps-->
        <!--IMAGEN DE LA IZQUIERDA-->
        <div class="col-sm-10">
          <table class="table table-condensed table-striped">
            <thead>
              <tr class="table-success">
                <th>Fecha cotizacion</th>
                <th>Correo cliente</th>
                <th>Detalle cotizacion</th>
                <th>Rut cliente</th>
                <th>Nombre cliente</th>
                <th>Telefono cliente</th>
             
              </tr>
            </thead>
            <tbody>
              {% for aux in listaCotizacion %}
                  {% for x in listaCliente2 %}
                      {% if x.rut_cliente == x.rut_cliente %}
                          <tr>
                              <td>{{ aux.fecha }}</td>
                              <td>{{ aux.correo }}</td>
                              <td>{{ aux.detalle }}</td>
                              <td>{{ x.rut_cliente }}</td>
                              <td>{{ x.nombre }}</td>
                              <td>{{ x.telefono }}</td>
                          </tr>
                      {% endif %}
                  {% endfor %}
              {% endfor %}
          </tbody>
          
          
          </table>
        </div>

      </div>
    </div>
  </div>
</section>
<ul class="nav d-flex justify-content-center">
  <li class="nav-item d-flex justify-content-center">
    <a
      class="nav-link"
      href="../listar_empleado"
      data-bs-toggle="tooltip"
      title="¡AQUÍ PUEDES VOLVER A TU PERFIL!"
      >Volver al perfil</a
    >
  </li>
</ul>
{% endblock %}
