{% extends 'app/base2.html' %} {% block contenido %}
{% block navbar %}
{% include 'app/basempleado.html' %}
{% endblock %}
<!--DENTRO DE HEADER VA EL NAVBAR QUE ES LA BARRA DE NAVEGACION SUPERIOR-->
<div class="main container-fluid">
  <!--CONTAINER QUE TIENE ADENTRO LAS 3 IMAGENES POR SEPARADO OCUPANDO LOS 12 ESPACIOS DE LA PAGINA-->
  <div class="m-3 container-fluid">
    <div class="row">
      {% load crispy_forms_tags %}
      <div class="col-sm-4">
        <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <table>
            {{ form|crispy }}
          </table>
          <input type="submit" value="Guardar" class="btn btn-dark" />
          {% if messages %}
          <!-- <script>alert(1) </script> -->
          {% for msj in messages %}
          <!-- <script>alert(2) </script>  -->
          <!-- <p>{{ msj }}</p>  -->
          <script>
            Swal.fire({
              title: "Datos guardados!",
              text: "{{ msj }}",
              icon: "success",
              showConfirmButton: false,
              timer: 2000,
            });
          </script>
          {% endfor %} {% endif %}
          <ul class="nav d-flex justify-content-center">
            <li class="nav-item d-flex justify-content-center">
              <a class="nav-link text-dark" href="../home">Volver al perfil</a>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </div>


</div>
{% endblock %}