#toperegistro2 {
  background: url("../img/inicioses.jpg") center center / contain no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
}

.formulario {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  margin: 0 auto;
  max-width: 400px;
  border-radius: 10px;
}

@media (max-width: 576px) {
  #toperegistro2 {
    background-position: top center;
    height: auto;
  }

  .formulario {
    margin-top: 20px;
  }
}
