#main7 {
  background-image: url("../img/probando2login.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

#toperegistro2 {
  margin-top: 140px;
}
